.main-box {
    display: flex;
    height: calc(100vh - 85px);
}

.ruleTree {
    flex: 0 0 250px;
    background: #fff;
    padding: 10px;
}

.ruleTree .nav-tabs li {
    border: 1px solid #E4E4E4;
}
.ruleTree .nav-tabs li a {
    border: none!important;
}
.ruleTree .nav-tabs > li a:hover {
    background: none!important;
    color: #000;
    font-weight: 100!important;
}

.ruleBox {
    flex: 1;
    padding: 10px;
}

.setTabs {
    display: none;
}

.ruleBox .tabs {
    margin-bottom: 10px;
    ;
}

.tabs li {
    margin-right: 5px;
}

.tabs li a {
    padding: 10px;
}

.actionBtns>.context {
    text-align: right;
}

.workTabs {
    border: none;
}
.workTabs > li {
    border: 1px solid #E4E4E4;
    display: none;
}
.workTabs > li:first-child {
    display: block;
}
.workTabs > li a:hover {
    background: none!important;
    color: #000;
    font-weight: 100!important;
}
.workTabs > .active a {
    background: #F2F2F2!important;
    border: none!important;
    margin: 0!important;
}

/* 规则编辑器 */

.ruleDefine {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ruleItem {
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.ruleDefine .steps {
    flex: 0 0 100px;
    box-sizing: border-box;
    display: flex;
    color: #0079fe;
    font-size: 12px;
}

.ruleDefine .context {
    flex: 1;
}

.tactics {
    min-height: 200px;
    border: 1px solid #D7E8F4;
    background: #F7FBFE;
}

.tactics span {
    display: inline-block;
    border: 1px solid #999;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.conditionOptions,
.gourpOptions,
.customInput,
.setUp,
.service {
    display: none;
    flex-direction: column;
}

.projectOptions {
    display: flex;
    flex-direction: column;
}

.projectOptions .radio-inline,
.conditionOptions .radio-inline,
.gourpOptions .radio-inline {
    margin: 10px 0;
}

.conclusion {
    min-height: 150px;
    border: 1px solid #D7E8F4;
    background: #F7FBFE;
}

.conclusion span {
    display: inline-block;
    border: 1px solid #999;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.handle {
    flex: 0 0 100px;
    text-align: center;
}

.projectItem form {
    display: flex;
}
.projectItem .layui-input {
    height: 30px;
}
.projectItem .form-group {
    display: flex;
}
.constraint > form {
    display: block;
}

.expression section {
    display: flex;
}

/* 规则列表 */
.ruleInfo .ruleTitle {
    cursor: pointer;
    color: #50a0eb;
}

/* 源代码 */
#codeTextArea {
    width: 100%;
    resize:none;
}
.code {
    display: none;
}


/* 概述 */

.summary {
    display: none;
}

.summaryTitle {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.summaryTitle > div {
    display: flex;
    flex: 1;
}
.summaryTitle span {
    flex: 0 0 5px;
    background: #0079FE;
    height: 15px;
    margin-right: 10px;
}

.summaryTitle p {
    flex: 1;
}

.summary #detailForm2.form-horizontal .form-group {
    margin-bottom: 10px;
}
.flex-between {
    justify-content: space-between;
}

.summaryLabel .layui-form-checkbox {
    margin: 5px 10px 0 0;
}

.labelOption {
    display: inline-block;
    width: calc(100% - 150px);
}
.labelOption .layui-form-checkbox {
    margin: 0px 10px 0 0;
}
/* 数据对象 */

.data {
    display: none;
}


/* 函数 */

.func {
    display: none;
}


/* 设置 */

.setUp>div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.setUp .input-group .input-group-btn {
    height: 34px;
}


/* 弹出层相关 */

.dialogBtn {
    display: flex;
    justify-content: flex-end;
}

#tacticsLayer,
#conclusionLayer,
#projectLayer,
#addDataLayer,
#addFuncLayer,
#setAttrName,
#selectObjectLayer {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#tacticsLayer>div:nth-child(2) {
    flex: 1;
    padding: 20px 0;
}

#conclusionLayer>div:first-child {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#conclusionLayer>div:first-child .form-group {
    margin-top: 30px;
    width: 60%;
}

#conclusionLayer>div:first-child .radio-inline {
    margin: 10px 0;
}

#projectLayer .projectContent {
    flex: 1;
}

#addDataLayer>div:first-child, #addFuncLayer>div:first-child {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
#addDataLayer .form-group, #addFuncLayer .form-group {
    display: flex;
    align-items: center;
}

#objectItemEdit {
    padding: 10px;
}
#objectItemEdit .layui-input-block {
    margin-left:10px;
    display: flex;
}

#setAttrName .layui-form {
    flex: 1;
}
#setAttrName .form-group {
    display: flex;
    align-items: center;
}

#setAttrName .form-group .control-label {
    width: 80px;
}

/* 复写框架相关 */

.form-horizontal:not(.table-form1) .form-group {
    margin: 0;
    padding: 0;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 0;
}


/*-- 标签类 -----------------------------------------------------------------*/

pre {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
    border: 1px solid #999;
}

code {
    overflow-wrap: break-word;
    margin: 0px 2px;
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: Consolas, Inconsolata, Courier, monospace;
    border-radius: 0px;
    overflow-x: auto;
    padding: 0.5em;
    background: rgb(40, 40, 40);
    color: rgb(235, 219, 178);
    white-space: pre !important;
    word-wrap: normal !important;
    word-break: normal !important;
    overflow: auto !important;
    display: -webkit-box !important;
}

code span {
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
    color: rgb(211, 134, 155);
    padding-right: 20px;
    word-spacing: 0px;
    word-wrap: inherit !important;
    word-break: inherit !important;
}

/* 复写自定义公共样式 */
.ruleDefine .form-horizontal .form-group .form-control {
    width: 100%;
}

#projectLayer .layui-input-block, #selectObjectLayer .layui-input-block {
    display: flex;
    margin-left: 10px;
}
.layui-layer-close {
    position: static!important;
}

.dictOptions {
    display: flex;
    justify-content: flex-end;
    height: 35px;
}
.dictOptions .layui-form-label {
    padding: 9px 0;
    text-align: left;
}

.ztree {
    height: 90%;
}